= form_for [@user,@project], :url => user_projects_path(@user) do |f|
	%h1 New Project
	%p I'll guide you through the process as we go. Let's get started!

	%h2 Who Are You?
	%p
		Email: 
		= f.text_field :email
	
	%h2 What Do You Want To Call This Project?
	%p
		Title:
		= f.text_field :title
		
	%h2 When Would You Like Work To Begin?
	%p
		Starting Date:
		= f.text_field :starts_on

	%h2 When Does It Need To Be Done?
	%p
		Delivery Date:
		= f.text_field :ends_on

	%h2 How Would You Describe The Level of Completeness?
	%ul
		%li
			= f.radio_button :design_completeness, :value => 1
			Just an idea right now
		%li
			= f.radio_button :design_completeness, :value => 2
			Basic outline for object model
		%li
			= f.radio_button :design_completeness, :value => 3
			Some consideration for user workflows
		%li
			= f.radio_button :design_completeness, :value => 4
			Fully storyboarded workflows
		%li
			= f.radio_button :design_completeness, :value => 5
			Fully designed with high resolution graphics ready
			
	%p= f.submit 'Save + Continue'
