= form_for @project, :url => user_projects_path(@user) do |f|
	%h1 New Project
	%p I'll guide you through the process as we go. Let's get started!

	%h2 Who Are You?
	%p
		= f.label :email
		= f.text_field :email
	
	%h2 What Do You Want To Call This Project?
	%p
		= f.label :title
		= f.text_field :title
		
	%h2 When Would You Like Work To Begin?
	%p
		= f.label :starts_on, 'Starting Date'
		= f.text_field :starts_on, :class => 'datepicker'

	%h2 When Does It Need To Be Done?
	%p
		= f.label :ends_on, 'Delivery Date'
		= f.text_field :ends_on, :class => 'datepicker'

	%h2 How Would You Describe The Level of Completeness?
	%ul
		%li
			= f.radio_button :design_completeness, 1
			Just an idea right now
		%li
			= f.radio_button :design_completeness, 2
			Basic outline for object model
		%li
			= f.radio_button :design_completeness, 3
			Some consideration for user workflows
		%li
			= f.radio_button :design_completeness, 4
			Fully storyboarded workflows
		%li
			= f.radio_button :design_completeness, 5
			Fully designed with high resolution graphics ready
			
	%p.control= f.submit 'Save + Continue'
