%h1 Project Report
%p You're done! Here's a summary report of the estimated project time and cost. 

%h2 Project Info
%table.info
	%tr
		%td Title
		%td= @project.title
	%tr
		%td Estimate generated for
		%td= @project.email
	%tr
		%td Design Completeness
		%td Level #{@project.design_completeness}
		
%h2 Features
#features.categories
	- for category in @project.features.map(&:category).uniq
		%h3= category.title
		%table
			%tr
				%th FEATURE
				%th QUANTITY
			- for feature_request in @project.feature_requests.select {|req| req.feature.category==category}
				%tr
					%td= feature_request.feature.title
					%td= feature_request.quantity

%h2 Summary
%table.summary
	%tr
		%td Iterations Required:
		%td
			= count=@project.iterations_required
			weeks
	%tr
		%td Projected Start Date:
		%td= @project.starts_on.to_s(:long)
	%tr
		%td Projected Completion Date:
		%td
			= (delivery_date = @project.starts_on + count.weeks).to_s(:long)
			- if delivery_date > @project.ends_on
				%p.ui-state-error Note: delivery is past deadline! 
	%tr
		%td Total Estimated Cost: 
		%td= number_to_currency(@project.estimated_price(count))
