!!!
%html
	%head
	%title= yield(:title)
	= stylesheet_link_tag :all
	= javascript_include_tag :defaults
	%link{:rel=>"stylesheet", :href=>"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/themes/black-tie/jquery-ui.css", :type=>"text/css", :media=>"all"}
	= csrf_meta_tag
	%body
		#header I Quote Projects
		- if flash[:alert]
			#flash.ui-state-error=raw flash[:alert]
		- if flash[:notice]
			#flash.ui-state-highlight=raw flash[:notice]
	
		#main= yield
		#footer
			%p © 2011 Migrant Studios LLC. All rights reserved.
